.wrapper ._container .arrow .arrow-right img, .wrapper ._container .arrow .arrow-left img {
  position: absolute;
  top: 90%;
}

* {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.wrapper {
  min-height: 100%;
  position: relative;
}
.wrapper .glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.wrapper .glider .glider-track {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.wrapper .glider .card-image img {
  min-width: 100%;
}
.wrapper .glider .card-image .image {
  position: absolute;
  min-height: 100vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .glider .card-image ._container {
  max-width: 1744px;
  margin: 0px auto;
}
@media (max-width: 1900px) {
  .wrapper .glider .card-image ._container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 30px;
  }
}
@media (max-width: 1400px) {
  .wrapper .glider .card-image ._container {
    max-width: 600px;
    margin: 0px auto;
  }
}
.wrapper .glider .card-image ._container .content {
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}
.wrapper .glider .card-image ._container .content .tittle {
  font-family: "Roboto";
  font-size: 28px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  margin: 347px 0px 1px 0px;
  height: 32px;
  font-weight: 700;
}
@media (max-height: 1000px) {
  .wrapper .glider .card-image ._container .content .tittle {
    margin: 200px 0px 1px 0px;
    height: 32px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
  }
}
@media (max-height: 800px) {
  .wrapper .glider .card-image ._container .content .tittle {
    margin: 100px 0px 1px 0px;
    height: 32px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
  }
}
@media (max-height: 700px) {
  .wrapper .glider .card-image ._container .content .tittle {
    margin: 50px 0px 1px 0px;
    height: 32px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
  }
}
.wrapper .glider .card-image ._container .content .head_tiite {
  font-family: "Viga";
  font-size: 120px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  line-height: 128px;
  margin: 0 0 65px -5px;
}
@media (max-width: 1000px) {
  .wrapper .glider .card-image ._container .content .head_tiite {
    font-family: "Viga";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: #FFFFFF;
    margin: 10px 0 10px 0;
  }
}
.wrapper .glider .card-image ._container .content .text {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
  width: 515px;
}
@media (max-width: 1000px) {
  .wrapper .glider .card-image ._container .content .text {
    font-size: 15px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    width: 350px;
  }
}
.wrapper .glider .card-image ._container .content .our-vision-item {
  margin: 39px 20px;
}
.wrapper .glider .card-image ._container .content .our-vision-item .item {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  list-style-type: circle;
  text-decoration: underline;
}
.wrapper ._container {
  max-width: 1744px;
  margin: 0px auto;
}
@media (max-width: 1900px) {
  .wrapper ._container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 30px;
  }
}
@media (max-width: 1400px) {
  .wrapper ._container {
    max-width: 600px;
    margin: 0px auto;
  }
}
.wrapper ._container .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.wrapper ._container .arrow .arrow-left .glider-prev.disabled {
  opacity: 0.25;
  cursor: default;
}
.wrapper ._container .arrow .arrow-right img {
  padding-right: 103px;
  right: 0px;
  left: auto;
}
@media (max-width: 700px) {
  .wrapper ._container .arrow .arrow-right img {
    top: 90%;
    padding-right: 30px;
  }
}
.wrapper ._container .arrow .arrow-right .glider-next.disabled {
  opacity: 0.25;
  cursor: default;
}